* {margin: 0;padding: 0;}
html {height: 100%;}
header, nav, section, article, aside, footer {display: block;}
body {font: 14px/18px "PT Sans", Arial, Verdana, sans-serif;width: 100%;height: 100%;}
a {color: #094186;outline: none;text-decoration: underline;
   transition-property: color;
   transition-duration: 1s;
   transition-timing-function: linear;

   -webkit-transition-property:color;
   -webkit-transition-duration:1s;
   -webkit-transition-timing-function:linear;
}
a:hover {text-decoration: none;color:#a30000;
         transition-property: color;
         transition-duration: 1s;
         transition-timing-function: linear;

         -webkit-transition-property:color;
         -webkit-transition-duration:1s;
         -webkit-transition-timing-function:linear;

}
p {margin: 0 0 18px}
img {border: none;}
input {vertical-align: middle;}
input[type="radio"], input[type="checkbox"]{margin:0;}
input[type="submit"],button{background: transparent url("/ima/button.png") repeat-x left top scroll;border:none;font:normal 14px/14px "PT Sans", Arial;color:#fffefe;padding:0px 28px 4px;text-transform: uppercase;}


ul, ol{margin:0 0 14px 0;list-style-position: inside;padding-left:0;}
ul{list-style-type: disc;}
ul ul{list-style-type: circle;}
ul ul, ul ol, ol ol, ol ul{margin-left:20px;}
ol{list-style-type: decimal;}
li{margin:5px 0;padding-left:40px;}
ul.reset{list-style: none;padding:0;margin:0;*list-style-position: outside;}
ul.reset li{padding-left:0;margin: 0;}
hr{background: #6e6e6e;border:none;height:1px;margin-bottom:15px;}
h1, h1 a{font-weight:bold;font-size:48px;line-height:48px;color:#fff;margin-bottom:1px;text-transform: uppercase;text-align: center;}
h2, h2 a{font-weight:normal;font-size:30px;line-height:30px;color:#fff;margin-bottom:18px;text-transform: uppercase;text-align: center;}




.clf {*zoom: 1;}
.clf:before,.clf:after {display: table;content: "";line-height: 0;}
.clf:after {clear: both;}


#wrapper {width: 986px;margin: 0 auto;min-height: 100%;height: auto !important;height: 100%;background: #fff;}
/*.headerWrap{padding-top:35px;}*/

#header {background: #222326 url("/ima/arrow_404.png") no-repeat center bottom scroll;font-size:12px;border-bottom:solid #fff 2px;}

#logo{display:block;position:relative;top:15px;text-align: center;margin-bottom:35px;}



#middle {width: 100%;padding: 0 0 150px;height: 1%;position: relative;}
#middle:after {content: '';clear: both;display: table;}

.mainmenu{width:100%;background: #fff url("/ima/header_bg.png") repeat-x left bottom scroll;}
.mainmenu li{height:42px;line-height: 42px;float:left;margin:0 68px 0 0 !important;*margin-right:58px !important; }
@media \0screen { .mainmenu li {margin-right:58px !important;} }


.mainmenu li.active, .mainmenu li:hover{background: transparent url("/ima/topmenu_a.png") no-repeat center bottom scroll;}
.mainmenu li.active a, .mainmenu li:hover a{color:#bababa;}
.mainmenu li:first-child{margin-left: 47px !important;}
.mainmenu li a{font-size:14px;color:#fff;text-decoration: none;}

#container {width: 585px;overflow: hidden;margin:0 auto;padding-top:20px;}
#container ol li{margin:18px 0;}




#footer {width: 986px;margin: -150px auto 0;height: 150px;background: #fff;position: relative;}
