.clear{clear: both;}
.comments{}
.comments .leave-comment{
	padding-bottom: 58px;
}
.comments h2{
	font-size: 18px;
	font-family: "PT Sans", Arial, "Helvetica CY", "Nimbus Sans L", sans-serif;
	color: #000;
	text-transform: uppercase;
	padding: 0 0 15px 0;
}
.comments .comment-form{}
.comment-form input,
.comment-form textarea{
	border: none;
	background: transparent;
	font-family: "PT Sans", Arial, "Helvetica CY", "Nimbus Sans L", sans-serif;
	font-size: 13px;
	color: #000;
}
.comment-form .item{
	padding-bottom: 18px;
}
.comment-form label{
	font-size: 12px;
	font-family: "PT Sans", Arial, "Helvetica CY", "Nimbus Sans L", sans-serif;
	color: #666;
	text-transform: uppercase;
	display: block;
	float: left;
	width: 135px;
	padding: 4px 10px 0 0;
}
.comment-form .hint{
	font-size: 12px;
	font-family: "PT Sans", Arial, "Helvetica CY", "Nimbus Sans L", sans-serif;
	color: #666;
	padding: 0;
	margin: 0;
}
.comment-form .for-input{
	float: left;
	width: 383px;
}
.comment-form .text{
	width: 361px;
	height: 26px;
	border: 1px solid #c4c4c4;
	background: #fff;
	padding: 0 10px;
}
.comment-form .text input{
	border: none;
	background: transparent;
	width: 361px;
	height: 26px;
	line-height: 23px;
}
.comment-form .textarea{
	width: 361px;
	height: 129px;
	border: 1px solid #c4c4c4;
	background: #fff;
	padding: 5px 10px;
}
.comment-form .textarea textarea{
	border: none;
	background: transparent;
	width: 361px;
	height: 119px;
	resize: none;
	overflow: auto;
}
.comment-form .captcha{}
.comment-form .captcha .code{
	float: left;
	width: 120px;
	margin-right: 4px;
}
.comment-form .captcha .for-input{
	width: 257px;
}
.comment-form .captcha .text{
	width: 237px;
	height: 26px;
}
.comment-form .captcha input{
	width: 237px;
	height: 26px;
}
.comment-form .captcha .captcha_refresh{
	font-size: 11px;
	color: #666;
	font-family: "PT Sans", Arial, "Helvetica CY", "Nimbus Sans L", sans-serif;
	cursor: pointer;
	text-decoration: underline;
	padding-left: 15px;
}
.comment-form .captcha .captcha_refresh:hover{
	color: #094186;
	text-decoration: none;
}
.comment-form .button{
	width: 528px;
	margin-top: 12px;
}
.comment-form .button input{
	font-size: 14px;
	font-family: "PT Sans", Arial, "Helvetica CY", "Nimbus Sans L", sans-serif;
	background: #094186;
	color: #fffefe;
	border: none;
	cursor: pointer;
	padding: 3px 35px 5px;
	text-transform: uppercase;
	width: 271px;
	float: right;
}
.comment-list{}
.comment-list ul{
	margin: 0;
}
.comment-list li{
	margin: 0;
	padding: 0 0 31px 0;
	list-style: none;
}
.comment-list .c-head{
	border-bottom: 1px solid #c4c4c4;
	padding-bottom: 8px;
	margin-bottom: 7px;
}
.comment-list .c-head .name{
	font-size: 16px;
	font-family: "PT Sans", Arial, "Helvetica CY", "Nimbus Sans L", sans-serif;
	font-weight: bold;
	color: #094186;
	padding-bottom: 4px;
}
.comment-list .c-head .date{
	font-size: 11px;
	color: #666;
}
.comment-list .comment{
	font-size: 13px;
	font-family: "PT Sans", Arial, "Helvetica CY", "Nimbus Sans L", sans-serif;
	color: #42474a;
	line-height: 24px;
}

.comments h4.error {
    color: red;
	font-size: 13px;
	font-weight: bold;
	margin-bottom: 10px;
}