.cpluginFeedback{margin-right:10px;margin-bottom:15px;background-color: #efefef;}
.cpluginFeedback form{padding:24px 20px 5px 20px;font-size: 16px;}
.cpluginFeedback form input[type='text'],.cpluginFeedback form textarea,.cpluginFeedback form input[type='password']{width:100%;background: #f4f2e5;border:1px #b9b6a5 solid;}

.cpluginFeedback form textarea{resize: none;height:250px;overflow: auto;}


.cpluginFeedback form input[type='submit']{width:100%;}
.cpluginFeedback h2{font-size:24px;font-weight: normal;text-transform: uppercase;margin-bottom:15px;}