.cpluginGallery{margin:0 10px;background-color: #f6f5f1;border:1px solid #ebeae8;position:relative;font-family:"PF Din Text Comp Pro";}
.cpluginGalleryCorner{background:transparent url('/ima/corner.png') no-repeat left top scroll;width:78px;height:44px;position: absolute;right:-1px;top:-1px;}
.cpluginGalleryWrapper{padding:20px 25px;overflow: hidden;}
.cpluginGalleryWrapper h2,.cpluginGalleryWrapper h2 a{color:#000;text-decoration: none;font-size:24px;font-weight: normal;text-transform: uppercase;margin-bottom:19px;}
.cpluginGalleryWrapper h2 a:hover{text-decoration: underline;}
.cpluginGalleryWrapper ul{width:9999px;}
.cpluginGalleryWrapper ul li{float:left;border:5px solid #e8e8e8;margin-left:23px;width:141px;height:102px;background: #e8e8e8;text-align: center;}
.cpluginGalleryWrapper ul li:first-child{margin-left:4px;}
.cpluginGalleryWrapper ul li a{text-decoration: none;}
.cpluginGalleryWrapper ul li a img{display: block;border:none;margin:0 auto;}
.cpluginGalleryWrapper .allphotos{text-align:right;font-size:14px;}
.cpluginGalleryWrapper .allphotos a{color:#1f4693;margin-right: 5px;}