.cpluginLastNews{margin-right:10px;margin-bottom:15px;background-color: #efefef;font-family:"PF Din Text Comp Pro";}
.cpluginLastNews .newsListBlock{padding:24px 20px 15px 20px;}
.cpluginLastNews .newsListBlock .title{color:#285a9f;font-size:18px;}
.cpluginLastNews .newsListBlock .desc{color:#000;font-size:14px;text-decoration: none;}
.cpluginLastNews .newsListBlock .desc:hover{text-decoration: underline;}
.cpluginLastNews h2{font-size:24px;font-weight: normal;text-transform: uppercase;}