header.header, .noprint, .daily_news, .left-sidebar, .right-sidebar, .column_title,.left_inner_column, p.print, footer.footer, .cpluginSimilarWrapper, .like_news, .fotolist, .videolist, #devTool  {display: none;}
.wrapper, body {background: none  !important;}
.content  {padding: 0 !important;}
.right_inner_column, .wrapper {width: 100% !important;}
h2 {font-size: 20px !important;margin-bottom: 20px !important;}
.wrapper {padding-top: 5px;}
.logoprint {display: block !important; padding-right: 20px;}
.logo img {width: 100px;}
.print_img {display: inline !important; float: left; margin-right: 15px;margin-bottom: 10px;}