.autocomplete-suggestions {
    border: 1px solid #999;
    background: #FFF;
    cursor: default;
    overflow: auto;
    -webkit-box-shadow: 1px 4px 3px rgba(50, 50, 50, 0.64);
    -moz-box-shadow: 1px 4px 3px rgba(50, 50, 50, 0.64);
    box-shadow: 1px 4px 3px rgba(50, 50, 50, 0.64);
}

.autocomplete-suggestion {
    padding: 2px 5px;
    white-space: nowrap;
    overflow: hidden;
}

.autocomplete-no-suggestion {
    padding: 2px 5px;
}

.autocomplete-selected {
    background: #F0F0F0;
}

.autocomplete-suggestions strong {
    font-weight: bold;
    color: #000;
}

.autocomplete-group {
    padding: 2px 5px;
}

.autocomplete-group strong {
    font-weight: bold;
    font-size: 16px;
    color: #000;
    display: block;
    border-bottom: 1px solid #000;
}
.srhform label {font-weight: bold;}
.srhform div {margin-bottom: 10px;}
.srhform .inp {padding: 3px 5px; border: 1px solid #aaa; width: 290px;}
.srhform select {padding: 2px 0;border: 1px solid #aaa; margin:0; width: 144px;}
.srhform select:first-child {margin-right: 10px;}
.srhform .button, .srhform .clear {background:#004890;border: 0 none;color: #fff;cursor: pointer;height: 25px;padding: 3px 15px;}
.srhform .clear {background:#bdbdbd;}
.srhform p {padding-top: 4px;}
.srhform p a {text-decoration: underline; font-weight: bold;}
.srhform p a:hover {text-decoration: none;}