.cpluginSimilar{background: #f2f2f2;
padding: 12px 15px 0;
border: 2px solid #fff;}
.cpluginSimilar img{max-width: 100%;}
.cpluginSimilar .meta > *{background-color:#F2F2F2;}
.cpluginSimilar .newslist > li > .foto{margin-right:0;}

.cpluginSimilarWrapper {
border: 1px solid #f2f2f2;
margin-bottom: 8px;
}
.cont .cpluginSimilar  a {text-decoration: none;}
.cont .cpluginSimilar  a:hover {text-decoration: underline;}
.cont .cpluginSimilar  .block  {border: 0; padding-bottom: 0;}