/* Eric Meyer's CSS Reset */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, img, ins, kbd, q, s, samp,
small, strike, tt, var,
center, dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
    display: block;
}

ul {
    list-style: none;
}
table {
    border-spacing: 0;
}
article, aside, details, figcaption, figure, footer, header, hgroup, main, nav, section, summary {display: block;}

/* End of Eric Meyer's CSS Reset */

html {height: 100%;}
body {font:12px/16px Arial, sans-serif; height: 100%;  background: url('../ima/fon.jpg') #fff;}
input {font:12px/16px Arial, sans-serif; color: #000;}
.wrapper {margin: 0 auto; width: 1000px;min-height: 100%;height: auto !important;height: 100%; background-color: #f9f9f9;}

img {vertical-align: bottom; border: 0; max-width: 100%;}
a {color: #004890; text-decoration: none;}
a:hover { }
.clearfix {*zoom: 1;}
.clearfix:before, .clearfix:after {display: table;content: "";line-height: 0px; visibility: hidden;height: 0;}
.clearfix:after {clear: both;}
.clear {clear: both;}

.clear {clear: both;}
.fl {float: left;}
.fr {float: right;}
.ta_c {text-align: center;}
.ta_r {text-align: right;}
.ta_l {text-align: left;}

.mb20 {margin-bottom: 30px !important;}


.black_link, .more {color: #000;}
.black_link:hover, .more:hover {color: #000; text-decoration: underline;}
.more {font-weight: bold;}

/* Common
-----------------------------------------------------------------------------*/
.column_title { border-bottom: 1px solid #C0C0D8;margin-bottom: 10px;line-height: 16px;}
.column_title, .column_title a {color:#E61B0C; text-transform: uppercase; font-size: 10px; font-weight: bold; text-decoration: none; font-family: Verdana; }
.column_title a:hover {color:#E61B0C;}

.block { border-bottom: 1px solid #c0c0d8; margin-bottom: 13px;padding-bottom: 10px; }

.span.red  {color: #FF0000;}

.zag {color: #000;font: bold 10px Verdana,Arial; line-height: 12px; margin-bottom: 5px;}
.grey_zag {color: #AEAEAE;font: bold 10px Verdana,Arial; line-height: 12px;  }

h2, h2 a {color: #004890;font: bold 15px Arial; line-height: 17px;}
h3, h3 a {text-transform: uppercase; font-size: 10px; font-weight: bold; text-decoration: none; font-family: Verdana; margin-bottom: 8px; color: #000; }

/* Header
-----------------------------------------------------------------------------*/
.logoprint, .print_img {display: none; }
header {height: 140px; background: url('../ima/top_bg.png') no-repeat 0 0; position: relative;}

header .logo {position: absolute; left: 0; top: 0;width:208px;height:126px; }
header nav {position: absolute; right: 7px; top:6px; color: #144ebe; }
header nav a {color: #fff; margin: 0 2px;}
header nav a:hover {text-decoration: underline;}
header nav a.active {font-weight: bold;color: #000;}

#logobb {position: absolute; left: 220px; top: 8px;}

header .top_icon {background: #0589d0; width: 600px; height: 20px; padding: 4px 0; position: absolute; right: 0; top:26px; }
header .top_icon>div {background: url('../ima/top_icon_fon.gif') no-repeat 0 0;  height: 20px; padding-left: 5px;}
header .top_icon .rss { float: left; text-transform: uppercase;background: url('../ima/top_icon_rss.gif') no-repeat 0 5px;padding-top: 1px; margin-right: 332px;}
header .top_icon .rss a { color: #fff; text-decoration: underline; padding-left: 13px;}
header .top_icon .rss a:hover {text-decoration: none;}
header .top_icon .soc {color: #fff; padding-top: 2px;}
header .top_icon .soc img {margin-right: 6px;}
header .news {height: 54px; background: #f9f9f9;position: absolute; right: 0; top:54px;width: 600px;}
header .news  div {width: 48%;  height: 54px; float: left; padding-right: 10px;}
header .news  img {height: 54px; margin-right: 5px; vertical-align: top; float: left;}
header .news .black_link { display:block; height: 50px; overflow: hidden;}

header .time {color: #748490; font-size: 11px; position:  absolute; top:115px; left:400px;}
header .lang {text-transform:uppercase; color: #c0c0d8; font-size: 13px; position:  absolute; top:115px; left:200px;}
header .lang a {color: #e61b0c; font-weight: bold; margin:0 5px;}
header .lang a:hover {text-decoration: underline;}

header .search {position: absolute;top:114px; right:7px; }
header .search .inp {border: 1px solid #bdbdbd; margin-right: 4px; height: 15px;font-size: 12px;width: 150px;}
header .search .button {border: 0; color: #fff; background:#bdbdbd; height: 19px;vertical-align: bottom; padding: 0 3px 0 3px; cursor: pointer; }

.daily_news {padding: 5px 7px 13px 7px; font-size: 13px; }
.daily_news a:hover {text-decoration: underline;}
.daily_news b {margin-right: 10px;}


/* Middle
-----------------------------------------------------------------------------*/
.middle {padding: 0 7px 70px 7px;position: relative;}
.middle:after {display: table;clear: both;content: '';}
.container {width: 100%;float: left;}
.content {padding: 0 165px 0 165px;}

.content.size0, .content.size0 .main_last_news .one_news .date,  .content.size0 .main_last_news .one_news div, .content.size0 .like_news   {font-size: 10px;line-height: 1.2em;}
.content.size0 h2, .content.size0 h2 a {font-size: 12px !important;line-height: 1.3em;}
.content.size0 .cont h1, .content.size0 .cont h1 a{font:normal 13px/20px Arial;}
.content.size0 .cont h2, .content.size0 .cont h2 a{font: bold 12px/18px Arial;}
.content.size0 .cont h3, .content.size0 .cont h3 a{font:normal 10px/16px Arial;}
.content.size0 .cont h4, .content.size0 .cont h4 a{font:normal 10px/15px Arial;}

.content.size2, .content.size2 .main_last_news .one_news .date,  .content.size2 .main_last_news .one_news div, .content.size2 .like_news   {font-size: 13px;line-height: 1.3em;}
.content.size2 h2, .content.size2 h2 a {font-size: 16px;line-height: 1.3em;}
.content.size2 .cont h1, .content.size2 .cont h1 a{font:normal 17px/20px Arial;}
.content.size2 .cont h2, .content.size2 .cont h2 a{font: bold 16px/18px Arial;}
.content.size2 .cont h3, .content.size2 .cont h3 a{font:normal 14px/16px Arial;}
.content.size2 .cont h4, .content.size2 .cont h4 a{font:normal 13px/15px Arial;}

.content.size3, .content.size3 .main_last_news .one_news .date,  .content.size3 .main_last_news .one_news div, .content.size3 .like_news {font-size: 15px;line-height: 1.3em;}
.content.size3 h2, .content.size3 h2 a {font-size: 18px !important;line-height: 1.3em;}
.content.size3 .cont h1, .content.size3 .cont h1 a{font:normal 20px/22px Arial;}
.content.size3 .cont h2, .content.size3 .cont h2 a{font: bold 18px/20px Arial;}
.content.size3 .cont h3, .content.size3 .cont h3 a{font:normal 16px/18px Arial;}
.content.size3 .cont h4, .content.size3 .cont h4 a{font:normal 15px/17px Arial;}


.fontsize {float: right; display: block; margin-top: -1px;}
.fontsize a { color: #004890; text-transform: none;font-weight: normal; font-family: Arial;font-size: 12px;}
.fontsize a.sm span {color: #FE3232; font: bold 10px Verdana;}
.fontsize a.bg span {color: #FE3232; font: bold 12px Verdana;}
.fontsize a:hover {color: #000;}

.main_news, .main_last_news {margin-bottom: 13px;}
.main_news .pic {float: left;margin-right: 10px; width: 215px;}
.main_news .pic div, .left_inner_column .pic div {background: url("../ima/gl_fon.gif") repeat-x scroll 0 0 rgba(0, 0, 0, 0);height: 22px;}
.main_news .text{ display: table-cell;}
.main_news h2 {margin-bottom: 5px;}
.main_news .brief {margin-top: 8px;}

.main_last_news .one_news .date {display: block; float: left; width: 215px; text-align: right; margin-right: 10px; padding-top: 10px; font-size: 11px;}
.main_last_news .one_news div { border-top: 1px solid #e7e7e7; display: table-cell; font-weight: bold; font-size: 11px; line-height: 13px; padding: 10px 0;}
.main_last_news .one_news div p {border-left: 3px solid #2d6098;padding-left: 5px;}
.main_last_news .one_news div a {text-decoration: underline;}
.main_last_news .one_news div a:hover {text-decoration: none;}

.lenta_news .one_news {border-bottom: 1px solid #e7e7e7; padding-bottom:7px;margin-bottom: 15px;}
.lenta_news .one_news img {width: 80px; vertical-align: top; margin-right: 7px;}
.lenta_news .one_news .date, .date {color:#7e7e7e; margin-right: 5px;}
.lenta_news .one_news .n {color: #000;}
.lenta_news .one_news .n:hover {text-decoration: underline;}
.lenta_news .one_news>div {border-left: 3px solid #e7e7e7; padding-left: 7px; position: relative;}
.lenta_news .one_news>div div {display: table-cell;}
.lenta_news .one_news>div div:before {content: ""; width: 3px; height: 5px; background: #6c6c6c; display: block; position: absolute; left:-3px; top: -1px;}

.center_bns {margin-bottom: 15px;}

.pagination {margin-bottom:10px; margin-top:10px; text-align: center; font-size: 13px; font-weight: bold;}
.pagination span {color: #aeaeae; font-weight: normal;}
.pagination li {display:inline-block;}
.pagination a {margin: 0 3px;}
.pagination a:hover {text-decoration: underline;}
.pagination .active, .pagination .active a { color: #aeaeae;}
.pagination .active:hover {text-decoration: none;}

.lenta_tiraj .block img {margin-bottom: 8px;}

/*.cont p {margin-bottom: 1em;}*/
.cont a {text-decoration: underline;}
.cont a:hover {text-decoration: none;}
.cont ul {list-style: disc;}
.cont ul li {margin-bottom: 1em;}
.cont ul ul{list-style-type: circle;}
.cont ul, .cont ol, .cont ul ul, .cont ul ol, .cont ol ol, .cont ol ul{margin-left:20px;}
.cont ol{list-style-type: decimal;}
.cont li{margin-bottom: 1em;}
.cont h1, .cont h1 a{font:normal 17px/19px Arial;margin:0 0 10px 0;color:#004890;font-weight: bold !important;}
.cont h2, .cont h2 a{font: bold 15px/17px Arial;margin:0 0 10px 0;color: #004890;}
.cont h3, .cont h3 a{font:normal 13px/15px Arial;margin:0 0 10px 0;color:#004890; text-transform: none;font-weight: bold;}
.cont h4, .cont h4 a{font:normal 12px/14px Arial;margin:0 0 10px 0;color:#000; font-weight: bold;}
.cont h1.err404 {color: #e61b0c;}
.cont img {max-width: 650px;}
.cont iframe, .cont object { max-width:650px;overflow:hidden;}
.cont td{border: 1px solid #000;}
.cont table[border='0'] td{border: none;}
.cont table[cellpadding='0'] td{padding: 0;}
.cont table[cellpadding='1'] td{padding: 1px;}
.cont table[cellpadding='2'] td{padding: 2px;}
.cont table[cellpadding='3'] td{padding: 3px;}
.cont table[cellpadding='4'] td{padding: 4px;}
.cont table[cellpadding='5'] td{padding: 5px;}
.cont table[cellpadding='6'] td{padding: 6px;}
.cont table[cellpadding='7'] td{padding: 7px;}
.cont table[cellpadding='8'] td{padding: 8px;}
.cont table[cellpadding='9'] td{padding: 9px;}
.cont table[cellpadding='10'] td{padding: 10px;}
.cont table[cellpadding='11'] td{padding: 11px;}
.cont table[cellpadding='12'] td{padding: 12px;}
.cont table[cellpadding='13'] td{padding: 13px;}
.cont table[cellpadding='14'] td{padding: 14px;}
.cont table[cellpadding='15'] td{padding: 15px;}
.cont table[cellpadding='16'] td{padding: 16px;}
.cont table[cellpadding='17'] td{padding: 17px;}
.cont table[cellpadding='18'] td{padding: 18px;}
.cont table[cellpadding='19'] td{padding: 19px;}
.cont table[cellpadding='20'] td{padding: 20px;}

.left_inner_column {width: 215px;margin-right: 10px; float: left;}
.left_inner_column .date {display: block;}
.left_inner_column .pic { margin-bottom: 20px;}
.left_inner_column .pic p {font-style: italic;color: #7e7e7e;font-size: 10px;}
.right_inner_column {display: table-cell; width: 430px;}
.right_inner_column .cont img {max-width: 425px;}
.right_inner_column .cont iframe, .right_inner_column .cont object  {max-width: 425px;}

.news_info h2 {margin-bottom: 8px;}
.news_info {padding-bottom: 10px;}
.news_info .date {font-weight: bold;}

.url {color: #7e7e7e; margin-bottom: 5px; padding-top: 10px; white-space: pre-wrap;}
.url a {color: #7e7e7e;}
.print{margin-bottom: 20px; margin-top: 15px;}
.print a {background: url('../ima/print.png') no-repeat 0 0; padding-left: 20px; line-height: 20px;}
.social {margin-bottom: 25px;}
.like_news{font-size: 11px;}
.like_news .date {display: block;}
.like_news .date a:hover {text-decoration: underline;}
.like_news .one_news {padding-bottom: 13px;}

.poll_list .poll .title {font-size: 12px;}
.poll_list .poll  ul li {margin-top: 10px;}
.poll_list .poll  ul li:first-child {margin-top: 0}
.poll_list .poll p {text-align: left;}
.poll_list .totalVotes {height: 2px; background: #e9e9e9;}
.poll_list .totalVotes div {background-color: #004890;height: 100%;}
.poll_list .pollresult span {color: #e82624;font-size: 11px;}
.poll_list .pollresult b {font-weight: normal;}
.poll_link {padding: 20px 0;}
.fw100 {font-size: 11px; color: #5b5a5a;}
.poll.block {margin-bottom: 20px;}

.share {padding-bottom: 20px;}
.share > div {display: inline-block;font-size: 12px;height: 19px; margin-bottom: 5px;}
.share > div:first-child {margin-right: 10px;position: relative;top: -7px;}
.share .fb_iframe_widget > span {height: 23px !important;}

.fotolist {padding-bottom: 20px;}
.fotolist a {margin-right: 5px; margin-bottom: 5px; display: block; float: left;border: 1px solid #c0c0d8;padding: 2px;}

.year_list {text-align: right; padding-bottom: 15px;}
.calendar_list .fl { margin: 0 20px 25px 20px; width: 176px; height: 140px; line-height: 14px;}
.calendar_list .fl h2 {margin-bottom: 5px;}
.calendar_list .fl table {background: #fff;}
.calendar_list table.calendar td {padding: 3px 0;}

.videolist .one {margin-bottom: 15px;}

.contactform .star {color: #e61b0c;}
.contactform label {font-weight: bold; display: inline-block;  margin-bottom: 2px;}
.contactform .inp  {border: 1px solid #bdbdbd; width: 50%;}
.contactform textarea {width: 70%;border: 1px solid #bdbdbd; height: 70px; resize: none;}
.contactform .captcha_refresh {font-size: 10px; color: #004890; cursor: pointer;}
.contactform .button {background:#004890;border: 0 none;color: #fff;cursor: pointer;height: 25px;padding: 3px 15px;}
/* Left Sidebar
-----------------------------------------------------------------------------*/
.left-sidebar {float: left;width: 152px;margin-left: -100%;position: relative;}
.category_list {padding-bottom: 10px;}
.category_list li { background-color: #fff; margin-bottom: 3px;padding:4px 0;}
.category_list li a {list-style: none; border-left: 2px solid #e82624; display: block; padding: 0 8px; line-height: 12px;}
.category_list li a:hover {color: #000;}
.category_list li.active {font-weight: bold;}
.category_list li.active a {border-right: 5px double #e82624;border-left: 5px double #e82624; padding-left: 5px;}

.news_column_list a.title {color: #173850;}
.news_column_list a.title span {color: #e61b0c;}
.news_column_list .block p {padding-top: 3px;}
.news_column_list .block {margin-bottom: 8px;}
.news_column_list .block img {margin-bottom: 10px;}
.news_column_list .block.simple {margin-bottom: 13px;}
.news_column_list.press  h3 {line-height: 13px !important; font-size: 11px !important; font-family: arial !important;text-transform: none !important;  }

.more {font-weight: bold; color: #000;}
.more:hover {color: #000; text-decoration: underline;}

.calendar {width: 100%; border-collapse: separate; }
.calendar td, .calendar th {font-size: 10px;color: #004890; }
.calendar td {width: 14%; text-align: center; padding: 2px 0;}
.calendar th  {font-weight: bold; padding: 2px 4px;}
.calendar td a {background: none repeat scroll 0 0 #d5d5d5;font-weight: bold; display: block; margin-right: 1px;}
.calendar td.current a {background: #004890; color: #fff;}

/* Right Sidebar
-----------------------------------------------------------------------------*/
.right-sidebar {float: left;width: 152px;margin-left: -152px;position: relative;}

.centerra {font-weight: bold; margin-bottom: 15px;background:url('../ima/centerra.jpg') no-repeat 0 0 #fff; padding:3px 3px 10px 3px;}
.centerra div:first-child {text-align: right; color: #606161; font-size: 9px; line-height: 10px;padding-bottom: 5px;}
.centerra .usd {text-align: center; color: #2c70b6; font-size: 13px; margin: 5px 0 3px 0; }
.centerra .usd img {vertical-align: middle; margin-bottom: 3px;}
.centerra .reserv {text-align: center; color: #c37c0b; font-size: 13px; text-transform: uppercase;}
.centerra .price_text {text-align: center; color: #5b5a5a; font-size: 8px; white-space:nowrap;}
.centerra .price {text-align: center; color: #d30707; font-size: 18px; padding-top: 4px;}

.gold {text-align: center; color: #b68a49; font-weight: bold; margin-bottom: 15px;}
.gold img {margin: 3px 0 5px 0;}
.gold p {text-align: left; color: #606161; font-size: 9px; line-height: 10px;}

.kurs_block  .ta_l{font-size: 10px;color: #606161; font-weight: bold;}
.kurs_block table, .weather_block  table {width: 100%;}
.kurs_block table td {background: url("../ima/dotted.gif") repeat-x scroll 0 bottom;font: bold 10px Verdana;padding: 3px 0;}
.kurs_block .kurs {width: 104px;}
.kurs_block .kurs2 {color: #004890;text-align: right;}
.kurs_block .kurs2  span{background-color: #f9f9f9; padding-left: 3px;}
.kurs_block .zag {margin-top: 8px;}
.kurs_block .grey_zag, .weather_block .grey_zag{margin-top: -10px; margin-bottom: 7px; }

.weather_block th {font: normal 10px Verdana;}
.weather_block  td {font: bold 10px Verdana; vertical-align: middle;padding-top: 3px;}
.weather_block .weather_z {color: #000;}
.weather_block .weather_sep {background: none repeat scroll 0 0 #e7e7e7;height: 1px;width: 100%;}
.weather_block .weather_n {color: #004890;text-align: center;}
.weather_block .weather_d {color: #f57619;text-align: center;}
.weather_block .weather_pix {padding-top: 0;}

.poll input {margin: 0;}
.poll .title { line-height:13px; font-weight: bold; font-size: 11px; color: #000; display: inline-block; }
.poll .title:hover {text-decoration: underline;}
.poll ul {padding-top: 8px;}
.poll li {margin-bottom: 5px;}
.poll li .box {float: left;margin-right: 5px;}
.poll li * {vertical-align: top;}
.poll li label {display: table;line-height: 14px;position: relative;font-size: 11px;}
.poll p {text-align: right; padding-top: 5px;}
.poll p input {background:#004890;border: 0 none;color: #fff;cursor: pointer;height: 22px;padding: 0 3px;vertical-align: bottom;}
.doslovno_sign {font-size: 11px;font-weight: bold;padding: 5px 0 0 20px;text-align: right; line-height: 12px;}

.counters { text-align: center;}
.counters img {margin-bottom: 10px;}

.right-sidebar .pollresult b {font-size: 11px; line-height: 13px; display: inline-block;}
.right-sidebar .pollresult li {margin-top: 10px;}
.right-sidebar .pollresult li:first-child {margin-top: -3px;}
/* Footer
-----------------------------------------------------------------------------*/
.footer {margin: -36px auto 0; background-color: #fff; position: relative; height: 32px;font-size: 10px; line-height: 12px; color: #8E8E8E;  text-align: center; border-top: 1px solid #C0C0D8; width: 980px; padding: 3px 10px 0 10px;}

p.total {margin: -15px 0 20px 0;}
.media_info_block{color:gray;font-size:11px;}


.mainMenu{overflow: hidden;padding: 0 16px;background: #3684d7;margin-bottom: 8px;}
.mainMenu table{width: 100%;margin:7px 0;}
.mainMenu td{font-family: Arial Narrow;height: 12px;line-height: 12px;padding: 0 9px;text-align: center;vertical-align: middle;font-size: 12px;border:none;font-weight: bold;border-left:2px #fff solid;}
.mainMenu td:first-child{border:none;}
.mainMenu td.active, .mainMenu td:hover{}
.mainMenu td.active a, .mainMenu td:hover a{text-decoration: underline;}
.mainMenu td a{text-transform: uppercase;color:#fff}


.has_photo, .has_video, .has_info{
    margin-left:5px;
    text-indent: -999999px;
    display:inline-block;
    height:12px;
    width:16px;
    background: transparent url('../ima/photo-ico.png') no-repeat center scroll;
    text-decoration:none;
    position: relative;
    top: 2px;
}
.has_video{
    background-image: url('../ima/video-ico.png');
}
.has_info{
    background-image: url('../ima/info-ico.png');
    height: 18px;
    position: relative;
    top: -1px;
    width: 18px;
}